/*
  Author: Addy Moran
  Email: addymmoran@gmail.com
  Purpose: To make it easier to create a mobile friendly, visually appealing user interface.
*/

body {
  padding-bottom: 1rem;
}

h1, h2 {
	text-align: center;
}

#footer {
  text-align: center;
  background-color: #343a40; /* same as bg-dark */
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  padding-bottom: 1em; 
}

